{% comment %} Copied from Minima's head.html {% endcomment %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 }}">

<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">

{% feed_meta %}
{% seo %}

<!-- MathJax config and script -->
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>