body {
  overflow:hidden;
   margin:0;
}




.tooltip {
  position: absolute;
  text-align: center;
  width: 210px;

  padding: 2px;
  font: 18px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
